* , ::before , ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 ;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 100px;
    gap: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #888;
}

.button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background-color: crimson;
    border-radius: 50px;
    text-decoration: none;
}

.button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #fff;
    opacity: .3;
    -webkit-clip-path: circle(0% at center);
            clip-path: circle(0% at center);
    -webkit-transition: .3s clip-path ;
    transition: .3s clip-path ;
}

.button:hover::before {
    -webkit-clip-path: circle(100.0% at center);
            clip-path: circle(100.0% at center);
}

.button--opacity {
    color: #fff;
}

.button--move-left {
    color: crimson;
    background-color: #fff;

}

.button--move-left::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: crimson;
    -webkit-clip-path: circle(0% at 50% 100%);
            clip-path: circle(0% at 50% 100%);
    -webkit-transition: .5s clip-path ;
    transition: .5s clip-path ;
    opacity: 1;
    
}

.button--move-left:hover {
    color: #fff;
    z-index: 10;
}

.button__text {
    position: relative;
    z-index: 1;
}

.link {
    position: relative;
    text-decoration: none;
    color: rgb(140, 27, 155);
    font-size: 1.5rem;
}

.link::after {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color:  rgb(140, 27, 155);
    -webkit-clip-path: circle(0% at center);
            clip-path: circle(0% at center);
    -webkit-transition: .2s clip-path ;
    transition: .2s clip-path ;
}

.link:hover::after {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
}

